<div class="max-w-screen max-h-screen">
  <nav class="w-full flex justify-between items-center shadow-md px-4 py-2">
    <h1 class="font-bold text-2xl text-green-600 px-4 py-1 underline">
      Shoppy
    </h1>
    <div class="flex gap-x-4 text-white font-semibold mx-10">
      <a routerLink="home" class="bg-green-500 px-2 py-1 rounded-md">Home</a>
      <a routerLink="cart" class="bg-green-500 px-2 py-1 rounded-md">Cart</a>
      <a routerLink="about" class="bg-green-500 px-2 py-1 rounded-md">About</a>
      <a routerLink="" class="bg-green-500 px-2 py-1 rounded-md">Login</a>
      <a routerLink="register" class="bg-green-500 px-2 py-1 rounded-md"
        >Register</a
      >
    </div>
  </nav>
  <div class="mt-10 mx-10 h-full">
    <router-outlet></router-outlet>
  </div>
</div>
